.card {
    width: 20%;
    height: 20%;
    margin: 1rem .5rem;
}

.character-portrait {
    padding: .3rem;
    padding-bottom: 0;
    border-radius: .75rem;
    cursor: pointer;
    width: 180px;
    height: 180px;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.2s; 
  
    /* When the animation is finished, start again */
    animation-iteration-count: 3; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 0px); }
    25% { transform: translate(-2px, 0px); }
    50% { transform: translate(2px, 0px); }
    75% { transform: translate(-1px, 0px); }
  }