nav {
    box-shadow: 0 .25rem rgb(94, 93, 93, .3);
}

nav .brand-logo {
    position: relative;
    margin: .8rem;
    font-size: 2.25rem;
}

.user-guess {
    font-size: 1.5rem;
}

.score-container {
    margin-right: 1rem;
}

.score-text {
    margin-right: 1rem;
    font-size: 1.4rem;
}

.wrong-guess {
    animation: red-text .5s 1;
}

@keyframes green-text {
0% { color: green; }
100% { color: white; }
}

.right-guess {
    animation: green-text .5s 1;
}

@keyframes red-text {
    0% { color: red; }
    100% { color: white; }
    }